.modalModal {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 500px;
  height: 220px;
  background: white;
}

.containerModal {
  height: 100vh;
  width: 100%;
  transition: 1s;
  position: fixed;
  top: 0;
  background: rgb(212, 209, 209, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoesModal {
  display: flex;
  justify-content: flex-end;
}

.botoesModal button {
  padding: 15px 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
}

.botoesModal .cancelar {
  background: white;
  color: #212121;
  border: 1px solid #212121;
}

.botoesModal .excluir {
  background: #212121;
  color: white;
}
